Django==2.2.1
django-appconf==1.0.3
django-crispy-forms==1.7.2
django-croppie==1.3
django-select2==7.1.1
django-tempus-dominus==5.1.2.8
docxtpl==0.5.20
Jinja2==2.10.1
lxml==4.3.3
MarkupSafe==1.1.1
mysqlclient==1.4.2.post1
Pillow==6.0.0
python-docx==0.8.7
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
