{% extends 'profiles/base_profiles.html' %}
{% load static i18n %}

{% block title %}
  {{ block.super }} - {% trans "Update template" %}
{% endblock %}

{% block extrahead %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {{ form.media }}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<form action="{{ object.get_update_url }}" method="post">
  {% csrf_token %}
  {% for field in form %}
    {% if not field.is_hidden %}
      <div class="form-group col-md-12 mb-2 border-top">
        <div class="form-group col-md-6 mb-0">
          {{ field|as_crispy_field }}
        </div>
      </div>
    {% else %}
      {{ field }}
    {% endif %}
  {% endfor %}
  <div class="form-group col-md-12 mb-2 border-top">
    <div class="form-group col-md-6 mb-0">
      <button type="submit" name="Create" class="btn btn-primary">{% trans "Update template" %}</button>
      <button type="submit" name="Delete" class="btn btn-danger" value='Delete'>{% trans "Delete template" %}</button>
    </div>
  </div>
</form>
{% endblock %}
