{% extends 'reports/base_reports.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {% trans "Profile" %}
{% endblock %}


{% block content %}
<div class="container mt-4">
  <div class="row mb-2">
      <div class="col-md-3">
        <b>{% trans "Last name:" %}</b>
      </div>
      <div class="col">
        {{ profile.user.last_name }}
      </div>
  </div>
  <div class="row mb-2">
      <div class="col-md-3">
        <b>{% trans "First name:" %}</b>
      </div>
      <div class="col">
        {{ profile.user.first_name }}
      </div>
  </div>
  <div class="row mb-2">
      <div class="col-md-3">
        <b>{% trans "Num. col.:" %}</b>
      </div>
      <div class="col">
        {{ profile.num_col }}
      </div>
  </div>
  <div class="row mb-2">
      <div class="col-md-3">
        <b>{% trans "Location:" %}</b>
      </div>
      <div class="col">
        {{ profile.city.district.region.country }}, {{ profile.city.district.region }}, {{ profile.city }}
      </div>
  </div>

  <table class="table table-bordered mt-3" frame="vsides">
    <td class="table-primary" style="width: 20%">
      <b>{% trans "Territory coverage:" %}</b>
    </td>
    {% for type_of_visit in type_of_visit_set %}
    <td class="table-primary">
      {{ type_of_visit }}
    </td>
    {% endfor %}
    {% for district in profile.user.userdistrict_set.all %}
    <tr>
        <td>
          {{ district.district }}
          <br>
          <div class="col font-italic">
            {% for city in district.district.city_set.all %}{{ city }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          </div>
        </td>
    {% for type_of_visit in type_of_visit_set %}
      {% for visitprice in district.userdistrictvisitprice_set.all %}
        {% if visitprice.type_of_visit == type_of_visit %}
        <td>
          {{ visitprice.price }} &#8364;
        </td>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </tr>
  {% endfor %}
  </table>


  <div class="row mb-2 mt-4">
      <div class="col-3">
        <b>{% trans "Autofill templates:" %}</b>
      </div>
  </div>
  {% for template in profile.report_templates.all %}
  <div class="row">
      <div class="col">
        <a href="{{ template.get_update_url }}">{{ template.name }}</a>
      </div>
  </div>
  {% endfor %}
  <div class="row mt-4">
      <div class="col">
        <a class='btn btn-primary' href="{% url 'profile_template_create_url' %}">{% trans "Create template" %}</a>
      </div>
  </div>
</div>

{% endblock %}
