{% extends 'profiles/base_profiles.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {% trans "Profile" %}
{% endblock %}


{% block content %}
<div class="container mt-4">
  <div class="row mb-2 border-top">
      <div class="col-md-3">
        <b>{% trans "Last name:" %}</b>
      </div>
      <div class="col">
        {{ profile.user.last_name }}
      </div>
  </div>
  <div class="row mb-2 border-top">
      <div class="col-md-3">
        <b>{% trans "First name:" %}</b>
      </div>
      <div class="col">
        {{ profile.user.first_name }}
      </div>
  </div>
  {% if not profile.user.is_staff %}
  <div class="row mb-2 border-top">
      <div class="col-md-3">
        <b>{% trans "Num. col.:" %}</b>
      </div>
      <div class="col">
        {{ profile.num_col }}
      </div>
  </div>
  {% endif %}
  <div class="row mb-2 border-top">
      <div class="col-md-3 mb-2">
        <b>{% trans "Location:" %}</b>
      </div>
      <div class="col">
        {{ profile.city.district.region.country }}, {{ profile.city.district.region }}, {{ profile.city.name }}
      </div>
  </div>
  <div class="row mb-2 border-top">
    <div class="col-md-3 mb-2">
      <b>{% trans "Initials:" %}</b>
    </div>
    <div class="col">
      {{ profile.initials }}
    </div>
  </div>
  <div class="row mb-2 border-top border-bottom">
    <div class="col-md-3 mb-2">
      <b>Viber: </b>
    </div>
    <div class="col">
      {% if profile.viber_id %}
          <b style="color: green">
            &#10003;
          </b>
      {% else %}
          <b style="color: red">
            &#10005;
          </b>
      {% endif %}
    </div>
  </div>
</div>
{% if not profile.user.is_staff %}
  <table class="table table-bordered mt-4" frame="vsides">
    <td class="table-primary" style="width: 20%">
      <b>{% trans "Territory coverage:" %}</b>
    </td>
    {% for type_of_visit in type_of_visit_set %}
    <td class="table-primary">
      {% if type_of_visit.short_name %}
        {{ type_of_visit.short_name }}
      {% else %}
        {{ type_of_visit.name }}
      {% endif %}
    </td>
    {% endfor %}
    {% for district in profile.user.userdistrict_set.all %}
    {% if district.country == profile.city.district.region.country %}
    <tr>
        <td>

          <br>
          <div class="col font-italic">
            {% for city in district.cities.all %}{{ city.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          </div>
        </td>

    {% for type_of_visit in type_of_visit_set %}
        <td>
      {% for visitprice in district.userdistrictvisitprice_set.all %}
        {% if visitprice.type_of_visit == type_of_visit %}
          {{ visitprice.price }} &#8364;
        {% endif %}
      {% endfor %}
        </td>
    {% endfor %}
  </tr>
  {% endif %}
  {% endfor %}
  </table>

  {% endif %}

  {% if autofill_template_set %}
  <div class="row mb-2 mt-4">
      <div class="col-3">
        <b>{% trans "Autofill templates:" %}</b>
      </div>
  </div>
  {% for template in autofill_template_set %}
  <div class="row">
      <div class="col">
        <a href="{{ template.get_update_url }}">{{ template.name }}</a>
      </div>
  </div>
  {% endfor %}
  {% endif %}
  {% if profile.user == request.user %}
  <div class="row mt-4">
      <div class="col">
        <a class='btn btn-primary' href="{% url 'profile_template_create_url' %}">{% trans "Create template" %}</a>
      </div>
  </div>
</div>
  {% endif %}
{% endblock %}
