{% extends 'profiles/base_profiles.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {% trans "Doctors" %}
{% endblock %}

{% block content %}
<table class="table">
  <thead class="thead-light">
    <th>
        {% trans "Doctor" %}
    </th>
    <th>
        {% trans "City" %}
    </th>
    <th>
        {% trans "Region" %}
    </th>
    <th>
        Viber
    </th>
  </thead>
{% for profile in profile_list %}
  <tr {% if forloop.last %}class="border-bottom"{% endif %}>
    <td>
      <a href="{{ profile.get_absolute_url }}"> {{ profile }}</a>
    </td>
    <td>
      {{ profile.city.name }}
    </td>
    <td>
      {{ profile.city.district.region }}
    </td>
    <td>
      {% if profile.viber_id %}
            <b style="color: green">
              &#10003;
            </b>
      {% else %}
            <b style="color: red">
              &#10005;
            </b>
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
