{% extends 'reports/base_reports.html' %}
{% load static %}

{% block title %}
  {{ block.super }} - Profile
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<form action="{{ object.get_update_url }}" method="post">
  {% csrf_token %}
  {% for field in form.visible_fields %}
  <div class="form-group col-md-12 mb-2 border-top">
      <div class="form-group col-md-6 mb-0">
        {{ field|as_crispy_field }}
      </div>
    </div>
  {% endfor %}
<button type="submit" name="Create" class="btn btn-primary">Update template</button>
<button type="submit" name="Delete" class="btn btn-danger" value='Delete'>Delete template</button>
</form>
{% endblock %}
