{% extends 'reports/base_reports.html' %}
{% load static i18n %}

{% block title %}
  {{ block.super }} - {% trans "Create template" %}
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {{ form.media }}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<form action="{% url 'profile_template_create_url' %}" method="post">
  {% csrf_token %}
  {% for field in form %}
    {% if not field.is_hidden %}
      <div class="form-group col-md-12 mb-2 border-top">
        <div class="form-group col-md-6 mb-0">
          {{ field|as_crispy_field }}
        </div>
      </div>
    {% else %}
      {{ field }}
    {% endif %}
  {% endfor %}
  <div class="form-group col-md-12 mb-2 border-top">
    <div class="form-group col-md-6 mb-0">
      <button type="submit" name="Create" class="btn btn-primary">{% trans "Create template" %}</button>
    </div>
  </div>


</form>
{% endblock %}
