{% extends 'reports/base_reports.html' %}
{% load static i18n %}

{% block title %}
  {{ block.super }} - {% trans "Create template" %}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<form action="{% url 'profile_template_create_url' %}" method="post">
  {% csrf_token %}
  {% for field in form.visible_fields %}
  <div class="form-group col-md-12 mb-2 border-top">
      <div class="form-group col-md-6 mb-0">
        {{ field|as_crispy_field }}
      </div>
    </div>
  {% endfor %}
<button type="submit" name="Create" class="btn btn-primary">{% trans "Create template" %}</button>

</form>
{% endblock %}
