{% extends 'profiles/base_profiles.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {% trans "Doctors" %}
{% endblock %}

{% block content %}
<table class="table">
  <thead class="thead-light">
    <th>
      <b>{% trans "Doctor" %}</b>
    </th>
    <th>
    <b>{% trans "City" %}</b>
    </th>
    <th>
      <b>{% trans "Region" %}</b>
    </th>
  </thead>
{% for profile in profile_list %}
  <tr {% if forloop.last %}class="border-bottom"{% endif %}>
    <td>
      <a href="{{ profile.get_absolute_url }}"> {{ profile }}</a>
    </td>
    <td>
      {{ profile.city.name }}
    </td>
    <td>
      {{ profile.city.district.region }}
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
