.admin-panel {
    border-radius: 2px;
    position: fixed;
    right: 20px;
    bottom: 10px;
    opacity: 0.3;
    padding: 15px;
}

.admin-panel:hover {
    opacity: 1;
}

.admin-panel a {
    display: block;
    margin: 5px 0;
}

.admin-panel p {
    text-align: center;
}
