{% extends 'blog/base_blog.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {% trans "News" %}
{% endblock %}

{% block content %}
    {% for post in page_obj %}
    <div class="card mb-4">
      <div class="card-header">
        {{ post.date_pub }}
      </div>
      <div class="card-body">
        <h5 class="card-title mb-4" align=center>{{ post.title }}</h5>
        <p class="card-text">{{ post.body|truncatewords:20}}</p>
        <a href="{{ post.get_absolute_url }}" class="btn btn-light">{% trans "Read" %}</a>
      </div>
    </div>
    {% endfor %}
{% endblock %}
