{% extends 'blog/base_blog.html'%}
{% load i18n %}

{% block title %}
{{ block.super }} - {% trans "Create post" %}
{% endblock %}

{% load crispy_forms_tags %}

{% block admin-panel-content %}
{% endblock %}

{% block content %}
<form action="{% url 'post_create_url' %}" method="post">
  {% csrf_token %}

    <div class="form-group">
  {% for field in form %}
        <div class="form-group row">
            <div class="form-group col-md-6 mb-0">
                {{ field|as_crispy_field }}
            </div>
        </div>
  {% endfor %}
        <div class="form-group row">
            <div class="form-group col-md-6 mb-0">
                <button type="submit" name="Create" class="btn btn-primary">{% trans "Create post" %}</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
