{% extends 'blog/base_blog.html' %}
{% load i18n %}

{% block title %}
  {{ block.super }} - {{ post.title|title }} - {% trans "Edit post" %}
{% endblock %}

{% load crispy_forms_tags %}

{% block admin-panel-content %}
{% if user.is_staff %}
<a href="{{ admin_obj.get_delete_url }}" class="admin-panel-element btn btn-danger delete">{% trans "Delete post" %}</a>
{% endif %}
{% endblock %}

{% block content %}
<form action="{{ post.get_update_url }}" method="post">
  {% csrf_token %}

  {% for field in form %}
      <div class="form-group col-md-6 mb-0">
        {{ field|as_crispy_field }}
      </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">{% trans "Update Post" %}</button>

  {% endblock %}
